[Desktop Entry]
Name=Set Headphones
Comment=Set audio to headphones
Exec=bash -c "~/.config/i3status/audio-headphones.sh"
Icon=audio-headphones
Type=Application
Terminal=false
Categories=Utility;
