[Desktop Entry]
Name=Set Speakers
Comment=Set audio to speakers
Exec=bash -c "~/.config/i3status/audio-speakers.sh"
Icon=audio-speakers
Type=Application
Terminal=false
Categories=Utility;
